.FormTT
{
  width: 40%;
  border: 1px solid black;
}
.FormCT
{
  width: 60%;
  border: 1px solid black;
}
.Form
{
  width: 100%;
  padding-bottom: 20px;
}
.FormDH
{
  width: 100%;
  padding-bottom: 40px;
}
.DangXL
{
  margin: auto;
  background-color: blue;
  text-align: center;
  width: 50%;
  padding:0 20px;
  color: red;
}
.DangXL1
{
  background-color: aliceblue;
}
.HoanThanh1
{
  background-color: aliceblue;
}
.HoanThanh
{
  background-color: blue;
  text-align: center;
  width: 50%;
  color: red;
}
.DanhSach
{
  text-align: center;
}

.DatHang
{
background-color: blue;
}
.ChiTietHD
{
  border: 1px solid black;
}